{% extends 'layout.html' %}

{% block title %}Registration Page{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">

<h1><center>Welcome</center></h1>
<h3><center>Please Register to Continue</center></h3>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<form class="login-form" method="POST" action="/register">
    <label for="username">Username:</label>
    <input type="text" name="username" required autocomplete="off"><br>

    <label for="password">Password:</label>
    <input type="password" name="password" required autocomplete="off"><br>

    <input type="submit" value="Register">
</form>
{% endblock %}
